<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(SC_APP_CENTER_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.telekom.opensource.citykey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>citykeyapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(SC_APP_REVISION)</string>
	<key>CONFIG_SCHEME</key>
	<string>Release</string>
	<key>Data</key>
	<dict>
		<key>Environment</key>
		<dict>
			<key>ADJUST_IDENTIFIER_Release</key>
			<string>$(ADJUST_IDENTIFIER_Release)</string>
			<key>APP_CENTER_IDENTIFIER_Release</key>
			<string>$(APP_CENTER_IDENTIFIER_Release)</string>
			<key>GOOGLE_MAPS_API_KEY_Release</key>
			<string>$(GOOGLE_MAPS_API_KEY_Release)</string>
			<key>MOENGAGE_APP_GROUP_Release</key>
			<string>$(MOENGAGE_APP_GROUP_Release)</string>
			<key>MOENGAGE_IDENTIFIER_Release</key>
			<string>$(MOENGAGE_IDENTIFIER_Release)</string>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>tel</string>
		<string>mailto</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>ymail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MoEngageAppDelegateProxyEnabled</key>
	<false/>
	<key>NFCReaderUsageDescription</key>
	<string>Citykey benötigt NFC, um auf die eID-Funktion deines Personalausweises zuzugreifen, um sich bei Online-Diensten zu authentifizieren.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>We need the calendar access to add events to the calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>NSCameraUsageDescription</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID instead of a password to access your account. You can manage the access rights of the app at any time under the app's central settings.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>NSLocationAlwaysAndWhenInUseUsageDescription</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>NSLocationAlwaysUsageDescription</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Dies ermöglicht es uns, Ihren Standort zu nutzen, um bestimmte Funktionen bereitzustellen, wie z. B. den Vorschlag einer von Citykey unterstützten Stadt in der Nähe, die Anzeige Ihres Standorts auf einer Karte und die Möglichkeit, den Ort eines Mangels zu melden.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NSPhotoLibraryUsageDescription</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CityIntent</string>
	</array>
	<key>SCAdjustTokens</key>
	<string>$(SC_ADJUST_TOKEN_FILE)</string>
	<key>SCKommunixEnvironment</key>
	<string>$(SC_KOMMUNIX_ENVIRONMENT)</string>
	<key>SCSOLDomain</key>
	<string>$(SC_SOL_DOMAIN)</string>
	<key>SCSOLImageDomain</key>
	<string>$(SC_SOL_IMAGE_DOMAIN)</string>
	<key>SCSecretsPath</key>
	<string>$(SECRETS_PATH)</string>
	<key>SCShareAppstoreLink</key>
	<string>$(SC_SHARE_APPSTORE_LINK)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>E80704007F00070302</string>
	</array>
</dict>
</plist>
