<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_MAPS_API_KEY_Release</key>
	<string>GOOGLE_MAPS_API_KEY_Release</string>
	<key>APP_CENTER_IDENTIFIER_Release</key>
	<string>APP_CENTER_IDENTIFIER_Release</string>
	<key>MOENGAGE_APP_GROUP_Release</key>
	<string>MOENGAGE_APP_GROUP_Release</string>
	<key>MOENGAGE_IDENTIFIER_Release</key>
	<string>MOENGAGE_IDENTIFIER_Release</string>
	<key>ADJUST_IDENTIFIER_Release</key>
	<string>ADJUST_IDENTIFIER_Release</string>
</dict>
</plist>
