<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebTileTapped</key>
	<string>74i1m5</string>
	<key>WebTileButtonTapped</key>
	<string>3g8sa8</string>
	<key>AppLaunched</key>
	<string>89ebq9</string>
	<key>OpenFahrradparkenExistingDefects</key>
	<string>m7tali</string>
	<key>FahrradparkenSubmitted</key>
	<string>p5jrjf</string>
	<key>OpenServiceFahrradparken</key>
	<string>s25bgh</string>
	<key>RemoveNewsSmallWidget</key>
	<string>a7eox6</string>
	<key>RemoveNewsMediumWidget</key>
	<string>hi3ih9</string>
	<key>RemoveNewsLargeWidget</key>
	<string>js2jub</string>
	<key>NewsWidgetTapped</key>
	<string>t7av3u</string>
	<key>NewsSmallWidget</key>
	<string>pdxe9b</string>
	<key>NewsMediumWidget</key>
	<string>7xnfyc</string>
	<key>NewsLargeWidget</key>
	<string>26v325</string>
	<key>SendFeedback</key>
	<string>a2bgp2</string>
	<key>OpenEGovExternalURL</key>
	<string>qfwhci</string>
	<key>ChangePOICategory</key>
	<string>jr6b48</string>
	<key>GetAppointmentConfirmation</key>
	<string>2upm1u</string>
	<key>SetWasteReminder</key>
	<string>qu7qzz</string>
	<key>SubmitPoll</key>
	<string>wkrmwo</string>
	<key>OpenNewsDetailPage</key>
	<string>1x20pz</string>
	<key>OpenEventDetailPage</key>
	<string>h9eggh</string>
	<key>OpenServiceDestinations</key>
	<string>d7spmu</string>
	<key>SwitchCity</key>
	<string>w01lm4</string>
	<key>OpenEventsList</key>
	<string>i5536j</string>
	<key>OpenHome</key>
	<string>snnq5b</string>
	<key>OpenInfobox</key>
	<string>ysub3m</string>
	<key>OpenNewsList</key>
	<string>qxuctg</string>
	<key>OpenProfile</key>
	<string>ucaqs0</string>
	<key>OpenService</key>
	<string>470k6p</string>
	<key>OpenServiceAppointments</key>
	<string>sp0ph8</string>
	<key>OpenServiceSurveyDetail</key>
	<string>9tjpva</string>
	<key>OpenServiceSurveyList</key>
	<string>j0hgw2</string>
	<key>OpenServiceWasteCalendar</key>
	<string>pxys94</string>
	<key>OpenServicePoiGuide</key>
	<string>jwj2no</string>
	<key>OpenServiceEgov</key>
	<string>d7xfdz</string>
	<key>OpenServiceDefectReporter</key>
	<string>nnxez3</string>
	<key>AppointmentCreated</key>
	<string>vf83td</string>
	<key>DefectSubmitted</key>
	<string>aaw70v</string>
	<key>EidAuthenticationFailed</key>
	<string>jn0eez</string>
	<key>EidAuthenticationSuccessful</key>
	<string>8pt059</string>
	<key>EidProcessStarted</key>
	<string>z7u14g</string>
	<key>EventfavoriteMarked</key>
	<string>xf02bc</string>
	<key>OpenWasteCalendar</key>
	<string>6r2bri</string>
	<key>UnexpectedLogout</key>
	<string>n8ckyb</string>
	<key>LogInWithKeep</key>
	<string>hnya12</string>
	<key>LogInWithoutKeep</key>
	<string>7rjuuk</string>
	<key>EidAuthenticationFailedAccessRightsError</key>
	<string>2p7xdw</string>
	<key>EidAuthenticationFailedBadStateError</key>
	<string>hb6avl</string>
	<key>EidAuthenticationFailedMajorError</key>
	<string>ofqwtk</string>
	<key>EidAuthenticationFailedMessageError</key>
	<string>7207ah</string>
	<key>EidAuthenticationFailedPayloadError</key>
	<string>tep6pc</string>
	<key>WasteWidgetTapped</key>
	<string>24qlav</string>
	<key>WasteCalendarMediumWidget</key>
	<string>w2l5h0</string>
	<key>WasteCalendarSmallWidget</key>
	<string>cjf1zk</string>
	<key>RemoveWasteCalendarMediumWidget</key>
	<string>rbut76</string>
	<key>RemoveWasteCalendarSmallWidget</key>
	<string>fujodk</string>
	<key>RegistrationComplete</key>
	<string>ctt0dt</string>
	<key>LoginComplete</key>
	<string>hyelur</string>
	<key>ServiceEngagement</key>
	<string>vhydai</string>
	<key>EventEngagement</key>
	<string>q31hlq</string>
	<key>DigitalAdmSubcategories</key>
	<string>tx15y3</string>
</dict>
</plist>
