<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebTileButtonTapped</key>
	<string>rbthw8</string>
	<key>WebTileTapped</key>
	<string>tz7zyp</string>
	<key>OpenFahrradparkenExistingDefects</key>
	<string>jn4ofu</string>
	<key>FahrradparkenSubmitted</key>
	<string>6pabmg</string>
	<key>OpenServiceFahrradparken</key>
	<string>cc35ae</string>
	<key>AppLaunched</key>
	<string>787p4d</string>
	<key>SendFeedback</key>
	<string>83ib97</string>
	<key>OpenEGovExternalURL</key>
	<string>7wy74b</string>
	<key>ChangePOICategory</key>
	<string>zij4jz</string>
	<key>SetWasteReminder</key>
	<string>czdzca</string>
	<key>SubmitPoll</key>
	<string>p8o7od</string>
	<key>OpenNewsDetailPage</key>
	<string>a9nr4a</string>
	<key>OpenEventDetailPage</key>
	<string>66jkwt</string>
	<key>OpenServiceDestinations</key>
	<string>69ro0h</string>
	<key>SwitchCity</key>
	<string>54do8p</string>
	<key>OpenEventsList</key>
	<string>ylmc95</string>
	<key>OpenHome</key>
	<string>4mcybj</string>
	<key>OpenInfobox</key>
	<string>pimpxw</string>
	<key>OpenNewsList</key>
	<string>v3tjtg</string>
	<key>OpenProfile</key>
	<string>cofmxg</string>
	<key>OpenService</key>
	<string>vbcimn</string>
	<key>OpenServiceAppointments</key>
	<string>8dbqqs</string>
	<key>OpenServiceSurveyDetail</key>
	<string>90fdnn</string>
	<key>OpenServiceSurveyList</key>
	<string>mauuyw</string>
	<key>OpenServiceWasteCalendar</key>
	<string>vnalqe</string>
	<key>OpenServicePoiGuide</key>
	<string>xj8mlv</string>
	<key>OpenServiceEgov</key>
	<string>ud3tbu</string>
	<key>OpenServiceDefectReporter</key>
	<string>24ulrn</string>
	<key>AppointmentCreated</key>
	<string>3l1wyk</string>
	<key>DefectSubmitted</key>
	<string>5zck30</string>
	<key>EidAuthenticationFailed</key>
	<string>ei0u7i</string>
	<key>EidAuthenticationSuccessful</key>
	<string>gu0zlj</string>
	<key>EidProcessStarted</key>
	<string>2w6ul9</string>
	<key>EventfavoriteMarked</key>
	<string>1t4fv5</string>
	<key>OpenWasteCalendar</key>
	<string>3lss12</string>
	<key>UnexpectedLogout</key>
	<string>101i47</string>
	<key>LogInWithKeep</key>
	<string>q4yf6p</string>
	<key>LogInWithoutKeep</key>
	<string>rmgukq</string>
	<key>EidAuthenticationFailedAccessRightsError</key>
	<string>qmguan</string>
	<key>EidAuthenticationFailedBadStateError</key>
	<string>k0e60n</string>
	<key>EidAuthenticationFailedMajorError</key>
	<string>ogv42z</string>
	<key>EidAuthenticationFailedMessageError</key>
	<string>m01fnb</string>
	<key>EidAuthenticationFailedPayloadError</key>
	<string>9ske7k</string>
	<key>RemoveNewsSmallWidget</key>
	<string>u4mmpx</string>
	<key>RemoveNewsMediumWidget</key>
	<string>lhdpgl</string>
	<key>RemoveNewsLargeWidget</key>
	<string>7ayn3d</string>
	<key>NewsWidgetTapped</key>
	<string>cixdu0</string>
	<key>NewsSmallWidget</key>
	<string>l7ns1l</string>
	<key>NewsMediumWidget</key>
	<string>dr936c</string>
	<key>NewsLargeWidget</key>
	<string>gg1y6i</string>
	<key>WasteWidgetTapped</key>
	<string>djn3ca</string>
	<key>WasteCalendarMediumWidget</key>
	<string>6vixf2</string>
	<key>WasteCalendarSmallWidget</key>
	<string>k4o0qi</string>
	<key>RemoveWasteCalendarMediumWidget</key>
	<string>kxw4th</string>
	<key>RemoveWasteCalendarSmallWidget</key>
	<string>zcp1v2</string>
	<key>RegistrationComplete</key>
	<string>gkdara</string>
	<key>LoginComplete</key>
	<string>nti2rv</string>
	<key>ServiceEngagement</key>
	<string>5qih7m</string>
	<key>EventEngagement</key>
	<string>v9zn5v</string>
	<key>DigitalAdmSubcategories</key>
	<string>jbqajz</string>
</dict>
</plist>
